!!! 5
%html
  %head
    %meta(charset="utf-8")
    %title= @title || settings.site_name

    %meta(name="description" content="#{settings.site_description}")
    %meta(name="author" content="#{settings.author}")
    %meta(name="rights" content="Copyright #{settings.author} #{Time.now.year}. All Rights Reserved.")

    %link(rel="shortcut icon" href="img/hearticon.png")
    %link(rel="apple-touch-icon" href="img/swordicon.png")

    %link(rel="stylesheet" media="screen, projection" href="style/main.css")

  %body
    %header
      %img#ninetails(src="img/logo.gif" alt="justfielding.com" height="95" width="92")
      %h1 Denied! Authorization Required!
      %h2 Warning! The System Intruded!!! 

    %footer
      %small © Copyright #{settings.author} #{Time.now.year}. All Rights Reserved.
