!!! 5
%html
  %head= partial :_head
  %body
    %div#wiki-wrapper.page
      %header
        = partial :_header
        = partial :_crumbs
      %content
        %div#wiki-content
          %div.wrap
            %div#wiki-body.gollum-markdown-content
              %div#template
                %p= @meta[:tag]
                :plain
                  #{@content}

      %footer= partial :_footer
