!!! 5
%html
  %head= partial :_head
  %body
    %header= partial :_header
    %content
      %div#wrapper.thin
        %ul
          - @index.each do |n|
            %li
              %a(href="note/#{n.name}") #{n.name}

    %footer= partial :_footer
